@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {

    /*Box*/
    
    background-color: #0e172d;
    padding: 15px;
    

    /*Text*/
    font-family: 'Ubuntu';
    font-size: 35px;
    text-align: center;
    color: whitesmoke;
}

nav {

    padding: 10px;
    background-color: whitesmoke;
    z-index: 9999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navElement {
    display: inline;
    padding-left: 20px;
    font-family: 'Ubuntu';
    font-size: 25px;
    text-decoration: none;
    color: #0e172d;
    
}

.barrier {

    padding-top: 10px;
    padding-bottom: 10px;

}

.welcomePart {
        background-image: url(../resources/hills_dark.jpg);
        background-color: #0e172d;
        background-repeat: no-repeat;
        background-size: cover;
}

.projects {

    /*padding-top: 350px;
    padding-bottom: 350px;*/

    width: 100%;
    height: 1000px;

    background-image: url("../resources/mountainssunset_dark.jpg");

    background-repeat: no-repeat;
    background-size: cover;

    background-color: #0e172d;

}

#projHead {

    position: absolute;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Ubuntu';
    color:chocolate;

    top: 10%;
    left: 10%;

}

#projDescription {

    position: absolute;
    color:rgb(175, 153, 108);
    width: 300px;
    height: 100px;

    top: 20%;
    left: 10%;

    font-size: 20px;
    font-family: 'Ubuntu';
    
}

.pIMAGE {

    width: 200px;
    height: 200px;
    border-radius: 10px;

}

.welcomeDiv {

    position: relative;
    width: 100%;
    height: 900px;

}

#welcomeButtons {
    position: absolute;

    width: 250px;
    height: 200px;
    
    background-color: chocolate;
    border: none;
    border-radius: 10px;

    opacity: 0.9;

    font-size: 25px;
    font-family: 'Ubuntu';
    color:#0e172d;
}

.projButton {

    left: 20%;
    top: 35%;
}
.aboutButton {

    left: 55%;
    top: 35%;
}

.projWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.gameButtons {

    width: 50px;
    height: 50px;
    background-image: url("../resources/game/arrowup.png");
    background-size:contain;
    background-color: #42414d;
    border: none;
    border-radius: 8px;

}

.gamePad {

    position: absolute;

    left: 50%;
    top: 77%;

    width: 110px;
    height: 110px;

}

#gameButtonUp {

    background-image: url(../resources/game/arrowup.png);
    position: absolute;
    left: 50%;

}

#gameButtonDown {
    background-image: url(../resources/game/arrowdown.png);
    position: absolute;
    top: 50%;
    left: 50%;
}

#gameButtonRight {
    background-image: url(../resources/game/arrowright.png);
    position: absolute;
    top: 50%;
    left: 100%;
    right: 0%;
}

#gameButtonLeft {
    background-image: url(../resources/game/arrowleft.png);
    position: absolute;
    top: 50%;
}

#canvas1 {
    position:absolute; 
}

.gameDiv {
    position:absolute;
    left: 30%;

    height: 50%;
    width: 35%;
}


#about {

    background-image: url('../resources/snow_mountain_dark.jpg');
    background-color: green;
    background-size: cover;

}

.aboutDiv {

    position: relative;
    width:100%;
    height: 760px;

}

#aboutHead {

    position: absolute;

    top: 15%;
    left: 10%;

    font-family: 'Ubuntu';
    font-size: 50px;
    color:chocolate;
    
}

#uwbLink {

    text-decoration: none;
    color: rgb(112, 14, 187);

}

#aboutStatement1 {

    position: absolute;
    top: 25%;
    left: 10%;
    
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
    width: 25%;
    height: 5%;
    border-radius: 5%;
    font-family: 'Ubuntu';
}

#aboutStatement2 {

    position: absolute;
    top: 35%;
    left: 10%;
    
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
    width: 25%;
    height: 5%;
    border-radius: 5%;
    font-family: 'Ubuntu';
}

#aboutStatement3 {

    position: absolute;
    top: 45%;
    left: 10%;
    
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
    width: 25%;
    height: 5%;
    border-radius: 5%;
    font-family: 'Ubuntu';
}

#aboutStatement4 {

    position: absolute;
    top: 55%;
    left: 10%;
    
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
    width: 25%;
    height: 5%;
    border-radius: 5%;
    font-family: 'Ubuntu';
}

#myPic {

    position: absolute;
    left: 50%;
    border-radius: 7%;
    opacity: 50%;
    width: 50%;
    height: auto;


}



footer {

    background-color:#12141b;
    padding-top: 15px;
    padding-bottom: 15px;
    color: whitesmoke;
    font-family: 'Ubuntu';

}


body {
    /*background-image:url(../resources/rubik.gif);*/
    background-color: #0e172d;
}
